.conte {
    padding: 0px; }
    .conte__tit {
      background-image: linear-gradient(to top, green, #4c4cf5);
      background-color: teal;
      text-align: center;
      padding: 10px;
      margin: initial;
      box-sizing: border-box;
      border: 5px solid #024949; }
      .conte__tit__2 {
        transition: font-size 2s;
        font-style: italic;
        margin-right: 31px;
        font-size: 40px;
        font-family: cursive;
        line-height: 0.5;
        color: #750080; }
  
  .tabla {
    font-family: 'Yrsa', serif;color: rgb(37, 104, 37);
    padding-left: 0px;
    background-color: springgreen;
    width: 300px; }
    .tabla__a {
      color: khaki; }
  
  .contenedora {
    text-decoration: underline;
    color: green;
    margin-left: 1px; }
    .contenedora__letra {
      font-family: 'Yrsa', serif;color: rgb(37, 104, 37);
      font-size: 20px;
    }
    
  
  .contenedor2{
    text-decoration: underline;color: green;
    margin-left: 150px;
    animation: jello;
    animation-iteration-count: infinite;
    animation-duration: 5s;
  }
  .contenedor1{
    text-decoration: underline;color: green;
  }
  .contenedor3{
    text-decoration: underline;color: green;
  }
  .thead{
    font-family: cursive;
    border-bottom: solid 2px;
    background-color: green
  }
  .cajaContenedora{
    border: solid 1px black;
    font-family: cursive;color:darkslateblue;
    height: 600px;
  }
  .grid{
    height: 500px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-row-gap: 10px;
  }
  h1:hover{
    font-size: 50px;
  }
  .corte{
    padding-right: 40%;
  }
  .bloque{
    width: 80%;
    padding-left: 20%;
  }
  h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:green
  }
  body{
    background-color: yellowgreen;
  }
  .menu{
    color: rgb(170, 26, 26);
    padding: 10px;
    font-size: 20px;
  }
  
  