.conte {
    padding: 0%; }
    .conte__tit {
        background-image: linear-gradient(to top, green, #4c4cf5);
        background-color: teal;
        text-align: center;
        padding: 1%;
        margin: initial;
        box-sizing: border-box;
        border: 5px solid #024949; }
        .conte__tit__2 {
            transition: font-size 2s;
            font-style: inherit;
            margin-right: 5%;
            font-size: 200%;
            font-family: cursive;
            line-height: 0.5;
            color: #750080; }
    
    .contenedor2{
        text-decoration: underline;color: green;
        margin-left: 1%;
        
        h3{
            animation: jello;
            animation-iteration-count: infinite;
            animation-duration: 5s;
        }
        }
    
    h1:hover{
        font-size: -100%;
        }
    
    body{
        background-color: yellowgreen;
        }
