.conte {
    padding: 0%; }
    .conte__tit {
        background-image: linear-gradient(to top, green, #4c4cf5);
        background-color: teal;
        text-align: center;
        padding: 1%;
        margin: initial;
        box-sizing: border-box;
        border: 5px solid #024949; }
        .conte__tit__2 {
            transition: font-size 2s;
            font-style: inherit;
            margin-right: 5%;
            font-size: 200%;
            font-family: cursive;
            line-height: 0.5;
            color: #750080; }
    
    .contenedor3{
        text-decoration: underline;color: green;
        }
    
    h1:hover{
        font-size: -100%;
        }
    
    .corte{
        padding-right: 40%;
        }
    
    h2{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color:green
        }
    
    body{
        background-color: yellowgreen;
        }

