.conte {
    padding: 0%; }
    .conte__tit {
        background-image: linear-gradient(to top, green, #4c4cf5);
        background-color: teal;
        text-align: center;
        padding: 1%;
        margin: initial;
        box-sizing: border-box;
        border: 5px solid #024949; }
        .conte__tit__2 {
            transition: font-size 2s;
            font-style: inherit;
            margin-right: 5%;
            font-size: 200%;
            font-family: cursive;
            line-height: 0.5;
            color: #750080; }
    
    
    .conte__tit__3 {
        width: 1%
        }
    
    .contenedora {
        text-decoration: underline;
        color: green;
        margin-left: 1%; }
        .contenedora__letra {
            font-family: 'Yrsa', serif;color: rgb(37, 104, 37);
            font-size: 150%;
        }
    
    h1:hover{
        font-size: -100%;
        }
    
    h2{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color:green
        }
    
    body{
        background-color: yellowgreen;
        }
    



      /*   @media only screen and (max-width: 600px) {
           
                }
            }
        } */

.conte__tit__3 {
    width: 85%;
    img{
        width: 85%;
    }
}


