.conte {
  padding: 0%; }

.conte__tit {
  background-image: linear-gradient(to top, green, #4c4cf5);
  background-color: teal;
  text-align: center;
  padding: 1%;
  margin: initial;
  box-sizing: border-box;
  border: 5px solid #024949; }

.conte__tit__2 {
  transition: font-size 2s;
  font-style: inherit;
  margin-right: 5%;
  font-size: 200%;
  font-family: cursive;
  line-height: 0.5;
  color: #750080; }

.tabla {
  font-family: 'Yrsa', serif;
  color: #256825;
  padding-left: 0%;
  background-color: springgreen;
  width: 290px; }

.tabla__a {
  color: khaki; }

.contenedor1 {
  text-decoration: underline;
  color: green; }

.thead {
  font-family: cursive;
  border-bottom: solid 2px;
  background-color: green; }

h1:hover {
  font-size: -100%; }

h2 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: green; }

body {
  background-color: yellowgreen; }

.conte {
  padding: 0%; }

.conte__tit {
  background-image: linear-gradient(to top, green, #4c4cf5);
  background-color: teal;
  text-align: center;
  padding: 1%;
  margin: initial;
  box-sizing: border-box;
  border: 5px solid #024949; }

.conte__tit__2 {
  transition: font-size 2s;
  font-style: inherit;
  margin-right: 5%;
  font-size: 200%;
  font-family: cursive;
  line-height: 0.5;
  color: #750080; }

h1:hover {
  font-size: -100%; }

.bloque {
  width: 70%;
  padding-left: 20%; }

body {
  background-color: yellowgreen; }

.menu {
  color: #aa1a1a;
  padding: 0%;
  font-size: 200%; }

.conte {
  padding: 0%; }

.conte__tit {
  background-image: linear-gradient(to top, green, #4c4cf5);
  background-color: teal;
  text-align: center;
  padding: 1%;
  margin: initial;
  box-sizing: border-box;
  border: 5px solid #024949; }

.conte__tit__2 {
  transition: font-size 2s;
  font-style: inherit;
  margin-right: 5%;
  font-size: 200%;
  font-family: cursive;
  line-height: 0.5;
  color: #750080; }

.contenedor2 {
  text-decoration: underline;
  color: green;
  margin-left: 1%; }
  .contenedor2 h3 {
    animation: jello;
    animation-iteration-count: infinite;
    animation-duration: 5s; }

h1:hover {
  font-size: -100%; }

body {
  background-color: yellowgreen; }

.conte {
  padding: 0%; }

.conte__tit {
  background-image: linear-gradient(to top, green, #4c4cf5);
  background-color: teal;
  text-align: center;
  padding: 1%;
  margin: initial;
  box-sizing: border-box;
  border: 5px solid #024949; }

.conte__tit__2 {
  transition: font-size 2s;
  font-style: inherit;
  margin-right: 5%;
  font-size: 200%;
  font-family: cursive;
  line-height: 0.5;
  color: #750080; }

.contenedor3 {
  text-decoration: underline;
  color: green; }

h1:hover {
  font-size: -100%; }

.corte {
  padding-right: 40%; }

h2 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: green; }

body {
  background-color: yellowgreen; }

.conte {
  padding: 0%; }

.conte__tit {
  background-image: linear-gradient(to top, green, #4c4cf5);
  background-color: teal;
  text-align: center;
  padding: 1%;
  margin: initial;
  box-sizing: border-box;
  border: 5px solid #024949; }

.conte__tit__2 {
  transition: font-size 2s;
  font-style: inherit;
  margin-right: 5%;
  font-size: 200%;
  font-family: cursive;
  line-height: 0.5;
  color: #750080; }

.conte__tit__3 {
  width: 1%; }

.contenedora {
  text-decoration: underline;
  color: green;
  margin-left: 1%; }

.contenedora__letra {
  font-family: 'Yrsa', serif;
  color: #256825;
  font-size: 150%; }

h1:hover {
  font-size: -100%; }

h2 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: green; }

body {
  background-color: yellowgreen; }

/*   @media only screen and (max-width: 600px) {
           
                }
            }
        } */
.conte__tit__3 {
  width: 85%; }
  .conte__tit__3 img {
    width: 85%; }
